:root {
    --estado-buda: 0.3s;
    --cada-item: 28px;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-family: Arial;
    font-size: 16px;
    gap: 30px;
    background: rgba(239, 240, 170, 0.726);
}

.letraHeader {
    font-style: italic;
    color: black    ; /*letras de admin*/
    text-align: center;
}

h1{
    color: rgb(9, 0, 39);

}

/*EDITADO*/
/* Barra de navegación */
nav {
    width: 250px;
    background-color: #ffcd11; /* Color de fondo */
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    position: relative;
    border-bottom: 1px solid #0F0F0F; /* Línea separadora */
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #0F0F0F; /* Color del texto */
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: 'Cambria', sans-serif; /* Tipo de fuente */
}

nav ul li a:hover {
    background-color: #FFD842; /* Color de fondo al pasar el ratón */
}

/* Submenú */
nav ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 250px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, top 0.3s;
}

nav ul ul li {
    background-color: #fbc70e; /* Color del submenú */
}

nav ul ul li a {
    padding: 12px 20px;
}

nav ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    top: 0;
}

/* Estilos adicionales */
nav ul ul ul {
    left: 100%;
    top: 0;
}

nav ul ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    top: 0;
}

/* Ajustes de texto */
nav ul a {
    font-size: 16px;
    font-family: 'Cambria', sans-serif; /* Tipo de fuente */
}

nav ul ul a {
    font-size: 14px;
    font-family: 'Cambria', sans-serif; /* Tipo de fuente */
    }
    /* Fin de nav */


.header{
    background-color: #010222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}



<!--boton-->
.header .btn button{
    font-weight: 700;
    color: #8b9cff;
    padding: 9px 25px;
    background: #eb8807;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #02250b;
    color: #c126cf;
    transform: scale(1.1);
}
.boton{
    background-color: #d5d7fd;
    border-radius: 4px;
	color: #070116;
	font-size: 20px;
	line-height: 15px;
	margin-bottom: 10px;
	margin-left: 1px; /*margen de separacion*/
    vertical-align: middle;
    position: relative;
    -webkit-transition-duration: 0.3s; /*tiempo de animacion*/
    transition-duration: 0.3s;
    text-decoration: none;
}
.boton:hover, .button:focus {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    color: #1410f5;
}

strong{
    text-align: right;

    font-size: 30px;
    font-style: italic;
}
.btnOpen {
	background-color: #d5d7fd;
    border-radius: 4px;
	color: #070116;
	font-size: 10px;
	line-height: 15px;
	margin-bottom: 20px;
	margin-left: 10px; /*margen de separacion*/
    vertical-align: middle;
    position: relative;
    -webkit-transition-duration: 0.3s; /*tiempo de animacion*/
    transition-duration: 0.3s;
    text-decoration: none;
}

.btnOpen:hover, .button:focus {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    color: #1410f5;
}

td { /*Lo que esta dentro de la tabla*/
    background-color: #f6fae6; /*color fondo*/
	/*color: #6155A6; }color letra*/
}

form{
	margin: 30px;
    border:solid 2px #0a011f;
	background-color: #ebeac2; /*color de tabla*/
}

  
  input:hover {
    background: rgb(235, 234, 183);
    color: #000000;
    margin: 2px;
  }
    input {
    background: #dfee0f2d;
    outline: none;
    
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

/* Select estilos */

main{
  display: flex-inline;
  justify-content: center;
  flex-direcion: row;
  align-items: center;
  width: 100vw;

}

.trashcan{
  padding: 10px;
  padding-bottom: 10px !important;
}


td{
  text-align: center;
  vertical-align: middle;
}

h2{
  text-align: center;
}

.filter-red{
  filter: invert(32%) sepia(38%) saturate(2646%) hue-rotate(325deg) brightness(90%) contrast(101%);
}

.filter-yellow{
  filter: invert(74%) sepia(26%) saturate(3145%) hue-rotate(354deg) brightness(110%) contrast(102%);
}
